.selected,
.notselected {
  outline: none;
}

h3 {
  background-color: #fff;
  margin-left: 5px;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 35px;
  margin-top: 60px;
  color: white;
}
h1 p {
  text-align: center;
  margin: 0px;
  font-size: 18px;
  text-decoration: underline;
  color: white;
}

#main_content {
  min-width: 800px;
  width: 80vw;
  margin: 1.5rem auto;
  min-height: 70vh;
  padding: 2rem 1rem;
  max-height: 85vh;
  height: 85vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: scroll;
  border-radius: 1rem;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
#main_content::-webkit-scrollbar {
  display: none;
}

.list-group a {
  margin: 0.25rem 0 !important;
}
/* #main_content li {
  display: inline;
  list-style-type: none;
  background-color: hsl(76, 25%, 74%);
  padding: 10px;
  border-radius: 5px;
  color: #e1e2bd;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
} */
button {
  width: 140px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none !important;
  margin-right: 1rem !important;
}

button:hover {
  background-color: #224468;
  box-shadow: 0px 15px 20px rgba(18, 55, 95, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button.selected {
  background-color: #224468;
  box-shadow: 0px 15px 20px rgba(18, 55, 95, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
/* #main_content li.notselected {
  background-color: #fff;
  color: black;
  border: 1px solid #12375f;
  padding-right: 5px;
  padding-right: 5px;
}
#main_content li.selected {
  background-color: #12375f;
  color: white;
} */

#main_content #page_content {
  background-color: #fff;
  padding: 5px;
  margin-top: 5px;
  border-radius: 0px 5px 5px 5px;
  color: #12375f;
  line-height: 1.6em;
  word-spacing: 4px;
}
