<div class="container register-form">
  <form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="note">
      <h2
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        "
      >
        NEW POLICE OFFICER REGISTRATION Form
      </h2>
    </div>

    <div class="form-content">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="Name*"
              value=""
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email*"
              value=""
              ngModel
              email
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              name="password"
              placeholder="Password *"
              value=""
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              name="confPassword"
              placeholder="Confirm Password *"
              value=""
              ngModel
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="address"
              placeholder="Address*"
              value=""
              ngModel
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              name="pincode"
              placeholder="Pin Code*"
              ngModel
              min="100000"
              max="999999"
              required
            />
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 10px">
          <label for="img" style="margin-bottom: 15px"
            >Select Profile Image of PO:
          </label>
          <input type="file" id="img" name="image" accept="image/*" ngModel />
          <br />
        </div>
        <div class="col-md-6" style="margin-top: 10px">
          <input
            type="number"
            class="form-control"
            placeholder="10 Digit Phone Number"
            id="phone"
            maxlength="10"
            minlength="10"
            name="phone"
            ngModel
          />
          <br />
        </div>
      </div>

      <div id="myForm">
        <div class="row">
          <div class="col-md-6">
            <b>Select Posted State : </b>
            <select
              (change)="onStateChanged(f)"
              name="state"
              id="countySel"
              style="border-radius: 20px; padding: 5px"
              size="1"
              ngModel
              required
            >
              <option value="" selected="selected">Select State</option>
              <option *ngFor="let state of states" value="{{ state }}">
                {{ state }}
              </option>
            </select>
            <br />
            <br />
          </div>
          <div class="col-md-6">
            <b>Select Posted District : </b>
            <select
              name="district"
              id="stateSel"
              (change)="onDistrictChanged(f)"
              style="border-radius: 20px; padding: 5px"
              size="1"
              ngModel
              required
            >
              <option value="" selected="selected">Select District</option>
              <option *ngFor="let district of districts" value="{{ district }}">
                {{ district }}
              </option>
            </select>
            <br />
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Select Posted Division : </b>
            <select
              (change)="onDivisionChanged(f)"
              name="division"
              id="citySel"
              style="border-radius: 20px; padding: 5px"
              size="1"
              ngModel
              required
            >
              <option value="" selected="selected">Select Division</option>
              <option *ngFor="let division of divisions" value="{{ division }}">
                {{ division }}
              </option>
            </select>
            <br />
            <br />
          </div>
          <div class="col-md-6">
            <b>Select Posted PS Name : </b>
            <select
              name="policeStation"
              id="zipSel"
              style="border-radius: 20px; padding: 5px"
              size="1"
              ngModel
              required
            >
              <option value="" selected="selected">
                Select Police Station
              </option>
              <option
                *ngFor="let policeStation of policeStations"
                value="{{ policeStation }}"
              >
                {{ policeStation }}
              </option>
            </select>
            <br />
            <br />
          </div>
        </div>
      </div>
      <div class="center">
        <button
          type="submit"
          class="btnSubmit0"
          [ngClass]="f.invalid ? 'disabled' : ''"
          [disabled]="f.invalid"
        >
          <b>SUBMIT</b>
        </button>
      </div>
    </div>
  </form>
</div>
