<section class="team-section">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h1>Our Team</h1>
        <p>
          Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
          laying out print, graphic or web designs.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="team-items">
        <div class="item">
          <img src="../../assets/images/aman.jpg" alt="team" />
          <div class="inner">
            <div class="info">
              <h5>Aman Kumar Gupta</h5>
              <p>Web Designer</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../assets/images/souro.jpg" alt="team" />
          <div class="inner">
            <div class="info">
              <h5>Sourashis Paul</h5>
              <p>Mobile App Developer & Designer</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../assets/images/arka.jpg" alt="team" />
          <div class="inner">
            <div class="info">
              <h5>Arkadev Banerjee</h5>
              <p>Backend & Angular Developer</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../assets/images/nil.jpg" alt="team" />
          <div class="inner">
            <div class="info">
              <h5>Nilanjan Roy</h5>
              <p>Angular & Web App Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
