<div class="complaint">
  <div class="container mt-5">
    <form class="box" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="forgot">
        <h1>RESET PASSWORD</h1>
      </div>

      <table>
        <tr>
          <th style="font-weight: bold">ENTER YOUR EMAIL</th>
          <th style="font-weight: normal">
            <input
              type="email"
              name="email"
              placeholder="Your Email"
              class="inp"
              email
              ngModel
              required
            />
          </th>
        </tr>
        <tr>
          <th style="font-weight: bold">ENTER NEW PASSWORD</th>
          <th style="font-weight: normal">
            <input
              type="password"
              name="password"
              placeholder="New password"
              class="inp"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              ngModel
              required
            />
          </th>
        </tr>
        <tr>
          <th style="font-weight: bold">CONFIRM NEW PASSWORD</th>
          <th style="font-weight: normal">
            <input
              type="password"
              name="confirmPassword"
              placeholder="Confirm Password"
              class="inp"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              ngModel
              required
            />
          </th>
        </tr>
      </table>
      <div class="sub">
        <button
          type="Submit"
          [disabled]="
            f.invalid ||
            f.controls.password.value !== f.controls.confirmPassword.value
          "
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
