.complaint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 90vh;
  width: 100vw;
  padding-top: 50px;
}
@media only screen and (max-width: 400px) {
  .box {
    position: relative;
    width: 100%;
  }
}
.box {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: 0.5rem;
  width: 50vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  margin: 10px auto;
  width: 80%;
}

input {
  outline: none;
  border: none;
  font-size: 18px;
}

.forgot {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 10px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: auto;
}

button {
  background-color: #12375f;
  color: white;
  padding: 14px 40px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.19);
  cursor: not-allowed;
}

.inp {
  height: 30px;
  width: 300px;
}

.sub {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  flex-flow: row;
}