<div
  style="
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
    background-color: #12375f;
    z-index: -200;
    padding-top: 4rem;
  "
>
  <div class="container my-5">
    <div class="d-flex justify-content-between">
      <div class="my-5 text-light">
        <h1>Download Our App!!</h1>
        <h2>Help Fighting against corruption and crime.</h2>
        <a
          href="https://crime-registration-system.herokuapp.com/files/CRS.apk"
          class="btn btn-success btn-lg my-3 btn-light"
          type="button"
          >Download Now</a
        >
      </div>

      <div>
        <img class="img-fluid my-2" src="../../assets/images/Phone.png" />
      </div>
    </div>
  </div>
</div>
