/* .btn {
    outline: none;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    background-color: #12375f;
    color: white;
    border-radius: 0.5rem;
  } */

input {
  outline: none;
  border: none;
  font-size: 16px;
}

.pos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

button.light {
  background-color: rgb(206, 203, 203);
  color: black;
  margin-right: 8px;
}

button {
  background-color: #12375f;
  color: white;
  padding: 10px 20px;
  margin: 8px 2px;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
}

.alert-box-controls {
  text-align: right;
}

.alert-box {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  padding: 16px;
  z-index: 100;
  width: 35vw;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 0.5rem;
}

.inp {
  height: 30px;
  min-width: 300px;
}

@media screen and (max-width: 990px) {
  .alert-box {
    width: 45vw;
  }
}

@media screen and (max-width: 800px) {
  .alert-box {
    width: 65vw;
  }
}

@media screen and (max-width: 400px) {
  .alert-box {
    width: 96vw;
  }
}
