<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <h3>Forgot Password</h3>
  <hr />
  <p>
    Enter the registered email address to which the password reset email will be
    sent
  </p>

  <form class="pos" (ngSubmit)="onSend(f)" #f="ngForm">
    Email :&nbsp;&nbsp;
    <input
      ngModel
      required
      email
      type="email"
      name="email"
      placeholder="Your Email"
      class="inp"
    />
  </form>

  <div class="alert-box-controls">
    <button class="btn light" (click)="onClose()">Close</button>
    <button class="btn" (click)="onSend(f)">Send</button>
  </div>
</div>
